
@media(min-width: 1200px) {

  /* ---------------------------------------------------------------------- *\
                              #PAGE HEADER
  \* ---------------------------------------------------------------------- */

  header {
    background: url(../images/header/background-desktop.png) no-repeat;
    padding: 50px 150px;
    font-size: 18px;
  }

  
  .page-header-top-bar {
    margin-bottom: 75px;
  }
  
  .page-header-top-bar__title {
    font-size: 36px;
  }

  .page-header-top-bar__nav-bar {
    display: flex;
    padding-left: 100px;
  }

  .nav-item {
    padding: 0 25px;
  }
  
  .page-header-top-bar__socicals {
    display: flex;
  }

  .page-header-top-bar__socials li {
    padding: 0 25px;
  }
  
  .page-header-top-bar__socials li a img  {
    width: 24px;
    height: 24px;  
  }
  
  
  .page-header-top-bar__hamburger {
    display: none;
  }
  
  .page-header-content {
    margin: 35px 205px;
    font-size: 44px;

  }

  .page-header-video-frame {
    background: url(../images/header/video-frame-desktop.png) no-repeat center;
    height: 324px;
  }

  .page-header-scroll-down {
    text-align: center;
    margin-top: 80px;
  }

  /* ---------------------------------------------------------------------- *\
                              #FEATURES
  \* ---------------------------------------------------------------------- */

  .features {
    padding: 80px 72px 59px 162px;
  }
  
  .features-title {
    font-size: 44px;
    margin-bottom: 32px;
  }
  
  .features-subtitle {
    font-size: 18px;
  }
  
  .features-body {
    margin-top: 55px;
    justify-content: space-between;
  }
  
  .features-body__item-content-title {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .features-body__item-content-description {
    font-size: 16px;
    line-height: 24px;
  }

  .features-body__item {
    width: 322px;
    margin-bottom: 35px;
  }

  .features-body__item-icon-responsive {
    width: 53px;
    height: 44px;
  }

  .features-body__item-icon-diamond {
    width: 45px;
    height: 38px;
  }
  .features-body__item-icon-layers {
    width: 36px;
    height: 48px;
  }

  /* ---------------------------------------------------------------------- *\
                              #DOWNLOAD
  \* ---------------------------------------------------------------------- */

  .download {
    background: url(../images/download/background-desktop.png) no-repeat center;
    padding: 163px 443px;
  }

  .download-title {
    font-size: 44px;
  }

  .download-description {
    font-size: 16px;
    line-height: 24px;
    margin: 29px 0;
  }

  .download-button {
    width: 210px;
    height: 48px;
  }

  /* ---------------------------------------------------------------------- *\
                              #TESTIMONiALS
  \* ---------------------------------------------------------------------- */

  .testimonials {
    padding: 50px 150px;
    font-size: 16px;
  }

  .testimonials-title {
    font-size: 44px;
    margin-top: 70px;
    margin-bottom: 30px;
  }

  .testimonials-cards__wrap {
    column-gap: 31px;
    row-gap: 11px;
  }

  .testimonials-cards__item {
    padding: 40px;
  }

  .testimonials-cards__item > img {
    width: 96px;
    height: 96px;
  }

  .testimonials-cards__item-information {
    margin-left: 28px;
  }

  .testimonials-cards__item-information__name {
    margin-bottom: 0;
  }

  .testimonials-cards__item-information__description {
    margin-top: 0;
    padding-bottom: 13px;
  }

  .testimonials-cards__item-information__content {
    font-size: 16px;
    line-height: 24px;
    margin-top: 33px;
    margin-bottom: 23px;
    width: 351px;
  } 

  .testimonials-cards__item-information__socials {
    display: flex;
  }

  .testimonials-cards__item-information__socials img {
    margin-right: 15px;
  }

  /* ---------------------------------------------------------------------- *\
                                #PRICING
  \* ---------------------------------------------------------------------- */

  .pricing {
    font-size: 16px;
    text-align: center;
    padding: 70px 125px;
  }

  .pricing-title {
    font-size: 44px;
    margin-bottom: 52px;
  }

  .pricing-plan__wrap {
    margin-bottom: 50px;
  }
 
  .pricing-plan__silver {
    position: static;
    height: 280px;
    width: 200px;
    color: var(--color-white);
    text-align: center;
    padding: 40px 20px;
  }

  .pricing-plan__gold {
    position: static;
    text-align: center;
    width: 200px;
    height: 280px;
    background-color: var(--color-yellow);
    padding: 40px 20px;
    border-radius: 8px;
  }

  .pricing-plan__silver *, .pricing-plan__platinum * {
    display: block;
  }

  .pricing-plan__platinum {
    position: static;
    height: 280px;
    width: 200px;
    color: var(--color-white);
    text-align: center;
    padding: 40px 20px;
  }

  .pricing-plan__type {
    font-size: 18px;
  }


  .pricing-plan__price {
    display: flex;
  }

  .pricing-plan__price-dollar {
    font-size: 24px;
  }

  .pricing-plan__price-number {
    font-size: 64px;
  }

  .pricing-plan__year {
    font-size: 18px;
  }

  .pricing-plan__content {
  }

  .pricing-plan__silver .pricing-plan__purchase, .pricing-plan__platinum .pricing-plan__purchase {
    color: var(--color-black-gray);
    background-color: var(--color-yellow);
  }

  .pricing-plan__purchase {
    width: 198px;
    height: 48px;
    margin: 30px auto;
  }
  
  .pricing-plan__select-wrap {
    display: none;
  }

  
  /* ---------------------------------------------------------------------- *\
                              #PORTFOLIO
  \* ---------------------------------------------------------------------- */

.portfolio {
  padding: 50px 150px;
}

.portfolio-title {
  font-size: 44px;
  text-align: center;
  margin-bottom: 50px;
}

.portfolio-content__wrap {
  grid-template-areas:
  'card-1 card-2 card-2'
  'card-3 card-3 card-4'
  'card-5 card-6 card-7';
  grid-template-columns: 380px 380px 380px;
  grid-template-rows: 380px 380px 380px;
}

.project-card-1 {
  background-image: url(../images/portfolio/project-card-1-desktop.png);
  grid-area: card-1;
}

.project-card-2 {
  background-image: url(../images/portfolio/project-card-2-desktop.png);
  grid-area: card-2;
  color: var(--color-white);
  padding: 58px 40px 20px 420px;
}

.card-2-title {
  display: flex;
  font-size: 32px;
  justify-content: space-between;
  margin: 12px 0;
}

.card-2-time {
  font-size: 18px;
}

.border {
  border: var(--color-white) solid 3px;
  width: 32px;
  margin: 35px 0;
}

.card-2-description {
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0;
}

.card-2-status span {
  font-size: 12px;
  margin-right: 25px;
}


.card-2-status img {
  margin-right: 6px;
}

.project-card-3 {
  background-image: url(../images/portfolio/project-card-3-desktop.png);
  grid-area: card-3;
}

.project-card-4 {
  background-image: url(../images/portfolio/project-card-4-desktop.png);
  grid-area: card-4;
}

.project-card-5 {
  background-image: url(../images/portfolio/project-card-5-desktop.png);
  grid-area: card-5;
}

.project-card-7 {
  background-image: url(../images/portfolio/project-card-7-desktop.png);
  grid-area: card-7;
}

.project-card-6 {
  background-color: var(--color-gray-white);
  color: var(--color-black-gray);
  padding: 60px 0;
  padding-left: 40px;
  grid-area: card-6;
}

.card-6-photo {
  display: flex;
  font-size: 32px;
  justify-content: space-between;
  margin: 12px 0;
}

.card-6-author {
  font-size: 18px;
}


.project-card-6 .border {
  border: var(--color-black-gray) solid 3px;
  width: 32px;
}

.card-6-title {
  font-size: 64px;
  width: 64px;
}

.portfolio-pagination {
  margin: 40px 0;
  padding: 0 400px;
}

}
