@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
  font-size: 16px;
}


:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-hover: rgb(55, 51, 51);
  --color-black-gray: #4b4b4b;
  --color-yellow: #EBCB80;
  --color-yellow-hover: #e4ba58;
  --color-gray-white: #f6f6f6;
  --color-gray: #7d7d7d;
  --color-map: #d8d8d8;
}


body {
  color: var(--color-black-gray);
}


* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}


.text-uppercase {
  text-transform: uppercase;
}


/* ---------------------------------------------------------------------- *\
                              #PAGE HEADER
\* ---------------------------------------------------------------------- */


header {
  background: url(../images/header/background.png) no-repeat;
  padding: 20px 15px;
}

.page-header-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header-top-bar__title {
  font-size: 20px;
  color: var(--color-yellow);
}

.page-header-top-bar__nav-bar {
  display: none;
}

.page-header-top-bar__socials {
  display: flex;
}

.page-header-top-bar__socials li {
  padding: 0 10px;
}

.page-header-top-bar__socials li a img  {
  width: 20px;
  height: 16px;  
}

.page-header-content {
  text-align: center;
  color: var(--color-white);
  font-size: 20px;
  padding: 0 20px;
  margin-top: 90px;
  margin-bottom: 35px;
}

.page-header-video-frame {
  height: 140px;
  background: url(../images/header/video-frame.png) no-repeat center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center
}

.page-header-video-frame__play {
  margin: 0 auto;
}

.page-header-scroll-down {
  text-align: center;
  margin-top: 115px;
  margin-bottom: 20px;
}


/* ---------------------------------------------------------------------- *\
                              #FEATURES
\* ---------------------------------------------------------------------- */


.features {
  padding: 28px 10px;
}

.features-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 13px;
}

.features-subtitle {
  text-align: center;
  font-size: 12px;
}

.features-body {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-body__item {
  display: flex;
  margin-bottom: 40px;
}

.features-distance-responsive {
  margin-left: 15px;
}

.features-distance-diamond {
  margin-left: 22px;
}

.features-distance-layers {
  margin-left: 30px;
}

.features-body__item-content-title {
  font-size: 12px;
  margin-bottom: 8px;
}

.features-body__item-content-description {
  font-size: 11px;
  line-height: 16px;
}

.features-body__image {
  background: url(../images/features/mac.png) no-repeat center;
  width: 290px;
  height: 169px;
}

/* ---------------------------------------------------------------------- *\
                              #DOWNLOAD
\* ---------------------------------------------------------------------- */

.download {
  background: url(../images/download/background.png) no-repeat center;
  padding: 45px 40px;
  color: var(--color-white);
  text-align: center;
}

.download-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.download-description {
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 20px;
}

.download-button {
  width: 140px;
  height: 32px;
  background: var(--color-yellow);
  border-radius: 50px;
  margin-bottom: 70px;
  border: var(--color-yellow);
}

.download-button:hover {
  background: var(--color-yellow-hover);
}

/* ---------------------------------------------------------------------- *\
                              #TESTIMONiALS
\* ---------------------------------------------------------------------- */

.testimonials {
  padding: 30px 15px;
  font-size: 12px;
}

.testimonials-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 11px;
}

.testimonials-cards__item {
  display: flex;
  margin-bottom: 28px;
  padding: 16px 0 10 9px;
}

.testimonials-cards__item:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.testimonials-cards__item > img {
  width: 48px;
  height: 48px;
}

.testimonials-cards__item-information {
  margin-left: 18px;
}

.testimonials-cards__item-information__name {
  margin: 12px 0;
}

.testimonials-cards__item-information__description {
  color: var(--color-gray);
  margin: 12px 0;
  border-bottom: solid 2px var(--color-gray-white);
}

.testimonials-cards__item-information__content {
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 18px;
  width: 200px;
} 

.testimonials-cards__item-information__socials {
  display: flex;
}

.testimonials-cards__item-information__socials img {
  margin-right: 15px;
}

/* ---------------------------------------------------------------------- *\
                              #PRICING
\* ---------------------------------------------------------------------- */

.pricing {
  background-color: var(--color-gray-white);
  color: var(--color-black-gray);
  font-size: 11px;
  text-align: center;
  padding: 40px 65px;
}

.pricing-title {
  font-size: 20px;
  margin-bottom: 33px;
}

.pricing-plan__wrap {
  display: flex;
  flex-direction: column;
}

.pricing-plan__gold {
  text-align: center;
  background-color: var(--color-yellow);
  padding: 28px 22px;
  z-index: 0;
}

.pricing-plan__silver {
  text-align: center;
  background: linear-gradient(224.09deg, rgba(255, 255, 255, 0.7) 5.13%, rgba(255, 255, 255, 7e-05) 90.88%);
  background-blend-mode: soft-light;
  border-radius: 8px;
  padding: 28px 22px;
  z-index: 1;
}

.pricing-plan__platinum {
  background: linear-gradient(223.49deg, rgba(0, 0, 0, 0.0001) 4.85%, rgba(0, 0, 0, 0.401127) 96.5%);
  background-blend-mode: multiply;
  border-radius: 8px;
  z-index: 2;
}

.pricing-plan__type {
  font-size: 12px;
}


.pricing-plan__price {
  display: flex;
  justify-content: center;
}

.pricing-plan__price-dollar {
  margin-top: 8px;
  margin-right: 5px;
}

.pricing-plan__price-number {
  font-size: 36px;
}

.pricing-plan__year {
  margin: 10px 0;
}

.pricing-plan__content {
  margin: 3px 0;
}

.pricing-plan__purchase {
  background-color: var(--color-black-gray);
  color: var(--color-white);
  width: 140px;
  height: 32px;
  border-radius: 50px;
  margin-top: 20px;
}