
@media(min-width: 768px) {

  /* ---------------------------------------------------------------------- *\
                              #PAGE HEADER
  \* ---------------------------------------------------------------------- */
  
  header {
    background: url(../images/header/background-table.png) no-repeat;
    padding: 24px 32px;
    font-size: 12px;
  }

  
  .page-header-top-bar {
    margin-bottom: 75px;
  }
  
  .page-header-top-bar__title {
    font-size: 24px;
  }

  .page-header-top-bar__nav-bar {
    display: flex;
    padding-left: 100px;
  }

  .nav-item {
    padding: 0 16px;
  }
  
  .page-header-top-bar__hamburger {
    display: none;
  }
  
  .page-header-content {
    margin: 35px 60px;
    font-size: 32px;
  }

  .page-header-video-frame {
    background: url(../images/header/video-frame-table.png) no-repeat center;
    height: 202px;
  }

  .page-header-scroll-down {
    text-align: center;
    margin-top: 80px;
  }

  /* ---------------------------------------------------------------------- *\
                              #FEATURES
  \* ---------------------------------------------------------------------- */

  .features {
    padding: 42px 0 40px 50px;
  }
  
  .features-title {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .features-body {
    margin-top: 49px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .features-body__item {
    margin-bottom: 72px;
  }
  
  .features-body__image {
    background: url(../images/features/mac-desktop.png) no-repeat left;
    width: 802px;
    height: 464px;
  }

  /* ---------------------------------------------------------------------- *\
                              #DOWNLOAD
  \* ---------------------------------------------------------------------- */

  .download {
    background: url(../images/download/background-tablet.png) no-repeat center;
    padding: 57px 150px;
  }

  .download-title {
    font-size: 32px;
  }

  .download-description {
    margin: 29px 0;
  }

  .download-button {
    height: 40px;
    margin-bottom: 30px;
  }

  /* ---------------------------------------------------------------------- *\
                                #TESTIMONiALS
  \* ---------------------------------------------------------------------- */

  .testimonials {
    padding: 40px 24px;
  }

  .testimonials-title {
    font-size: 32px;
  }

  .testimonials-cards__wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    column-gap: 40px;
  }
    
  /* ---------------------------------------------------------------------- *\
                                #PRICING
  \* ---------------------------------------------------------------------- */

  .pricing {
    background-color: var(--color-gray-white);
    color: var(--color-black-gray);
    font-size: 11px;
    text-align: center;
    padding: 40px 65px;
  }

  .pricing-title {
    font-size: 20px;
    margin-bottom: 46px;
  }

  .pricing-plan__wrap {
    display: flex;
  }
  
  .pricing-plan__silver {
    position: static;
    height: 225px;
    width: 138px;
    color: var(--color-white);
    text-align: center;
    padding: 28px 22px;
  }

  .pricing-plan__gold {
    position: static;
    text-align: center;
    width: 138px;
    height: 225px;
    background-color: var(--color-yellow);
    padding: 28px 22px;
    border-radius: 8px;
  }

  .pricing-plan__silver *, .pricing-plan__platinum * {
    display: block;
  }

  .pricing-plan__platinum {
    position: static;
    height: 225px;
    width: 138px;
    color: var(--color-white);
    text-align: center;
    padding: 28px 22px;
  }

  .pricing-plan__gold .pricing-plan__type {
    color: var(--color-black-gray);
  }

  .pricing-plan__type {
    color: var(--color-yellow);
  }


  .pricing-plan__price {
    display: flex;
  }

  .pricing-plan__price-dollar {
  }

  .pricing-plan__price-number {
  }

  .pricing-plan__year {
  }

  .pricing-plan__content {
  }

  .pricing-plan__silver .pricing-plan__purchase, .pricing-plan__platinum .pricing-plan__purchase {
    color: var(--color-black-gray);
    background-color: var(--color-yellow);
  }

  .pricing-plan__purchase {
    width: 120px;
    height: 40px;
    margin: 30px auto;
  }
  
  .pricing-plan__select-wrap {
    display: none;
  }

  /* ---------------------------------------------------------------------- *\
                              #PORTFOLIO
  \* ---------------------------------------------------------------------- */

.portfolio {
  padding: 25px;
}

.portfolio-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.portfolio-content__wrap {
  grid-template-areas:
  'card-1 card-2 card-2'
  'card-3 card-3 card-4'
  'card-5 card-6 card-7';
  grid-template-columns: 240px 240px 240px;
  grid-template-rows: 240px 240px 240px;
}

.project-card-1 {
  background-image: url(../images/portfolio/project-card-1-tablet.png);
  grid-area: card-1;
}

.project-card-2 {
  background-image: url(../images/portfolio/project-card-2-tablet.png);
  grid-area: card-2;
  color: var(--color-white);
  padding: 40px 20px 15px 265px;
}

.card-2-title {
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  margin: 12px 0;
}

.card-2-time {
  font-size: 12px;
}

.border {
  border: var(--color-white) solid 2px;
  width: 14px;
  margin: 12px 0;
}

.card-2-description {
  font-size: 11px;
  line-height: 16px;
  margin: 12px 0;
}

.card-2-status {
  display: block;
}


.card-2-status span {
  font-size: 11px;
  margin-right: 13px;
}


.card-2-status img {
  margin-right: 6px;
}

.project-card-3 {
  background-image: url(../images/portfolio/project-card-3-tablet.png);
  grid-area: card-3;
}

.project-card-4 {
  background-image: url(../images/portfolio/project-card-4-tablet.png);
  grid-area: card-4;
}

.project-card-5 {
  background-image: url(../images/portfolio/project-card-5-tablet.png);
  grid-area: card-5;
}

.project-card-7 {
  background-image: url(../images/portfolio/project-card-7-tablet.png);
  grid-area: card-7;
}

.project-card-6 {
  background-color: var(--color-gray-white);
  color: var(--color-black-gray);
  padding: 33px 0;
  padding-left: 25px;
  grid-area: card-6;
}

.card-6-photo {
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  margin: 12px 0;
}

.card-6-author {
  font-size: 12px;
}


.project-card-6 .border {
  border: var(--color-black-gray) solid 2px;
}

.card-6-title {
  font-size: 36px;
  width: 64px;
}

.portfolio-pagination {
  margin: 40px 0;
  padding: 0 200px;
}



}