
@media(min-width: 768px) {

  /* ---------------------------------------------------------------------- *\
                              #PAGE HEADER
  \* ---------------------------------------------------------------------- */
  
  header {
    background: url(../images/header/background-table.png) no-repeat;
    padding: 24px 32px;
    font-size: 12px;
  }

  
  .page-header-top-bar {
    margin-bottom: 75px;
  }
  
  .page-header-top-bar__title {
    font-size: 24px;
  }

  .page-header-top-bar__nav-bar {
    display: flex;
    padding-left: 100px;
  }

  .nav-item {
    padding: 0 16px;
  }
  
  .page-header-top-bar__hamburger {
    display: none;
  }
  
  .page-header-content {
    margin: 35px 60px;
    font-size: 32px;
  }

  .page-header-video-frame {
    background: url(../images/header/video-frame-table.png) no-repeat center;
    height: 202px;
  }

  .page-header-scroll-down {
    text-align: center;
    margin-top: 80px;
  }

  /* ---------------------------------------------------------------------- *\
                              #FEATURES
  \* ---------------------------------------------------------------------- */

  .features {
    padding: 42px 0 40px 50px;
  }
  
  .features-title {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .features-body {
    margin-top: 49px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .features-body__item {
    margin-bottom: 72px;
  }
  
  .features-body__image {
    background: url(../images/features/mac-desktop.png) no-repeat left;
    width: 802px;
    height: 464px;
  }

  /* ---------------------------------------------------------------------- *\
                              #DOWNLOAD
  \* ---------------------------------------------------------------------- */

  .download {
    background: url(../images/download/background-tablet.png) no-repeat center;
    padding: 57px 150px;
  }

  .download-title {
    font-size: 32px;
  }

  .download-description {
    margin: 29px 0;
  }

  .download-button {
    height: 40px;
    margin-bottom: 30px;
  }

  /* ---------------------------------------------------------------------- *\
                                #TESTIMONiALS
  \* ---------------------------------------------------------------------- */

  .testimonials {
    padding: 40px 24px;
  }

  .testimonials-title {
    font-size: 32px;
  }

  .testimonials-cards__wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    column-gap: 40px;
  }
    
  /* ---------------------------------------------------------------------- *\
                                #PRICING
  \* ---------------------------------------------------------------------- */

  .pricing {
    background-color: var(--color-gray-white);
    color: var(--color-black-gray);
    font-size: 11px;
    text-align: center;
    padding: 40px 65px;
  }

  .pricing-title {
    font-size: 20px;
    margin-bottom: 46px;
  }

  .pricing-plan__wrap {
    display: flex;
  }
  
  .pricing-plan__silver {
    position: static;
    height: 225px;
    width: 138px;
    color: var(--color-white);
    text-align: center;
    padding: 28px 22px;
  }

  .pricing-plan__gold {
    position: static;
    text-align: center;
    width: 138px;
    height: 225px;
    background-color: var(--color-yellow);
    padding: 28px 22px;
    border-radius: 8px;
  }

  .pricing-plan__silver *, .pricing-plan__platinum * {
    display: block;
  }

  .pricing-plan__platinum {
    position: static;
    height: 225px;
    width: 138px;
    color: var(--color-white);
    text-align: center;
    padding: 28px 22px;
  }

  .pricing-plan__type {
  }


  .pricing-plan__price {
    display: flex;
  }

  .pricing-plan__price-dollar {
  }

  .pricing-plan__price-number {
  }

  .pricing-plan__year {
  }

  .pricing-plan__content {
  }

  .pricing-plan__silver .pricing-plan__purchase, .pricing-plan__platinum .pricing-plan__purchase {
    color: var(--color-black-gray);
    background-color: var(--color-yellow);
  }

  .pricing-plan__purchase {
    width: 120px;
    height: 40px;
    margin: 30px auto;
  }
  
  .pricing-plan__select-wrap {
    display: none;
  }

}